#tabselectors{
    margin-bottom: 12px;
    display: flex;
    align-items: center;  /* vertical centering */
    justify-content: center;  /* horizontal centering for block elements or items */
    position: relative;
}

.tabselector{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 1px;
    text-align: center;
    display: inline;
    align-items: center;  /* vertical centering */
    justify-content: center;  /* horizontal centering for block elements or items */
    position: relative;
    color: black;
    user-select: none; /* Prevents text from being selectable */
    background-color: rgba(185, 221, 185, 0.5);
  }

  .tabselector:hover{
    background-color: rgba(185, 221, 185, 0.85);
  }

  .div_section{
    display: none;
  }

  #logger{
    margin-top: 15px;
    background-color: rgba(214, 216, 214, 0.5);
  }